Repository pysal/spopt, pull requests merged in 2020-12, with the labels that each got.

#74 Updating links from `master` branch to `main` branch
  README.md
  codecov.yml
  setup.py
Labels: maintenance

#75 add azp into spopt
  ci/36.yaml
  ci/37.yaml
  ci/38.yaml
  spopt/__init__.py
  spopt/region/__init__.py
  spopt/region/azp.py
  spopt/region/azp_util.py
  spopt/region/csgraph_utils.py
  spopt/region/objective_function.py
  spopt/region/util.py
  spopt/tests/test_azp.py
Labels: enhancement, region

#87 Update GitHub Actions
  .github/workflows/release_and_publish.yml
  .github/workflows/unittests.yml
Labels: CI, GitHub Actions, release
