Repository pysal/spopt, pull requests merged in 2021-11, with the labels that each got.

#204 Update fac-loc real world notebook
  notebooks/facloc-real-world.ipynb
Labels: notebooks/binders, JOSS

#200 [WIP] JOSS paper revisions work
  paper/figs/mclp.png
  paper/figs/mexico_maxp.png
  paper/paper.bib
  paper/paper.md
Labels: WIP, JOSS

#205 install pulp for docs build
  .github/workflows/build_docs.yml
Labels: bug, docs

#206 Gaboardi/ORNL Acknowledgement
  paper/paper.md
Labels: JOSS
