Repository pysal/spopt, pull requests merged in 2022-03, with the labels that each got.

#220 Bump actions/checkout from 2 to 3
  .github/workflows/build_docs.yml
  .github/workflows/release_and_publish.yml
  .github/workflows/unittests.yml
Labels: github_actions

#221 mclp and lscp jupyter notebooks using osrm routing
  notebooks/lscp_gis.ipynb
  notebooks/mclp_gis.ipynb
Labels: notebooks/binders

#225 Fix skater islands kwarg being ignored
  spopt/region/skater.py
Labels: region, rough edge
