Repository pysal/spopt, pull requests merged in 2022-12, with the labels that each got.

#307 doc work and formatting continued (random_region, util, ward)
  spopt/region/base.py
  spopt/region/random_region.py
  spopt/region/util.py
  spopt/region/ward.py
  spopt/tests/test_random_regions.py
Labels: maintenance, docs

#312 expose SPENC kwargs
  .ci/310-DEV.yaml
  .ci/310-DEV_shapely_dev.yaml
  .ci/310.yaml
  .ci/38.yaml
  .ci/39.yaml
  docs/_static/references.bib
  spopt/region/spenc.py
  spopt/region/spenclib/abstracts.py
Labels: region

#273 Facility capacity for LSCP
  notebooks/lscp_capacity.ipynb
  spopt/locate/base.py
  spopt/locate/coverage.py
Labels: GSoC2022

#316 Fix CLSCP-SO bugs and add tests
  notebooks/lscp_capacity.ipynb
  spopt/locate/base.py
  spopt/locate/coverage.py
  spopt/tests/test_clscp-so.py
Labels: bug, locate

#319 Streamline redundant parameter passing in constraint constructors
  spopt/locate/base.py
  spopt/locate/coverage.py
  spopt/locate/p_center.py
  spopt/locate/p_dispersion.py
  spopt/locate/p_median.py
  spopt/tests/test_locate.py
  spopt/tests/test_lscpb.py
  spopt/tests/test_p_dispersion.py
Labels: locate, rough edge
