Repository pysal/spopt, pull requests merged in 2023-12, with the labels that each got.

#411 solve b410
  spopt/locate/coverage.py
Labels: bug, locate

#413 Maint work for update supported Python versions, CI environments, et.c
  .github/workflows/build_docs.yml
  .github/workflows/release_and_publish.yml
  .github/workflows/testing.yml
  .pre-commit-config.yaml
  README.md
  ci/310-latest.yaml
  ci/310-oldest.yaml
  ci/310.yaml
  ci/311-latest.yaml
  ci/312-dev.yaml
  ci/312-latest.yaml
  ci/38-MIN.yaml
  codecov.yml
  docs/conf.py
  docs/installation.rst
  environment.yml
  pyproject.toml
  spopt/locate/p_median.py
  spopt/locate/util.py
  spopt/region/base.py
  spopt/region/spenclib/scores.py
  spopt/region/util.py
Labels: maintenance

#418 stricter linting – follow up #413
  pyproject.toml
  spopt/BaseClass.py
  spopt/locate/base.py
  spopt/locate/coverage.py
  spopt/locate/p_center.py
  spopt/locate/p_dispersion.py
  spopt/locate/p_median.py
  spopt/locate/util.py
  spopt/region/azp.py
  spopt/region/azp_util.py
  spopt/region/base.py
  spopt/region/maxp.py
  spopt/region/random_region.py
  spopt/region/region_k_means.py
  spopt/region/skater.py
  spopt/region/spenc.py
  spopt/region/spenclib/abstracts.py
  spopt/region/spenclib/scores.py
  spopt/region/spenclib/utils.py
  spopt/region/ward.py
Labels: maintenance

#422 `locate` models – standardized default names
  spopt/locate/coverage.py
  spopt/locate/p_dispersion.py
  spopt/locate/p_median.py
Labels: locate

#429 flesh out `kn-pmp` testing
  spopt/tests/test_knearest_p_median.py
Labels: testing, locate

#420 Formulation of KN-PMP omitted opening constraints
  spopt/locate/base.py
  spopt/locate/p_median.py
Labels: bug, locate, needs attention, priority: high

#424 parameters & docstring clean up in `KNearestPMedian`
  spopt/locate/p_median.py
Labels: docs, locate, rough edge

#426 Review messaging in KN-PMP
  spopt/locate/p_median.py
  spopt/tests/test_knearest_p_median.py
Labels: maintenance, locate

#430 fix Church 2018 (tobler paper) cite
  docs/_static/references.bib
  spopt/locate/p_median.py
Labels: docs, locate

#433 Switch repository formatting to `ruff`
  .gitattributes
  .github/CONTRIBUTING.md
  .pre-commit-config.yaml
  README.md
  pyproject.toml
  spopt/region/azp_util.py
Labels: maintenance
