Repository pysal/spopt, pull requests merged in 2023-10, with the labels that each got.

#397 Add the k nearest p-median module and the tutorial example for capacitated p-median
  .ci/310.yaml
  .ci/311-DEV.yaml
  .ci/311.yaml
  .ci/38-MIN.yaml
  .ci/39.yaml
  docs/_static/references.bib
  environment.yml
  notebooks/p-median.ipynb
  pyproject.toml
  spopt/locate/p_median.py
  spopt/tests/test_knearest_p_median.py
Labels: locate, GSOC2023

#399 Add KNearestPMP to API and documentation
  .pre-commit-config.yaml
  docs/api.rst
  spopt/locate/__init__.py
  spopt/locate/p_median.py
Labels: docs, locate, rough edge

#403 remove `zip(strict=True)` in k-nearest p-median
  notebooks/p-median.ipynb
  spopt/locate/p_median.py
Labels: bug, locate

#405 Update GHA, etc (2023-10-15)
  .github/CONTRIBUTING.md
  .github/workflows/build_docs.yml
  .github/workflows/release_and_publish.yml
  .github/workflows/testing.yml
  ci/310.yaml
  ci/311-DEV.yaml
  ci/311.yaml
  ci/38-MIN.yaml
  ci/39.yaml
  docs/conf.py
  notebooks/skater.ipynb
  spopt/region/spenc.py
Labels: maintenance, github_actions

#408 Update 311-DEV.yaml
  ci/311-DEV.yaml
Labels: CI
